<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
</head>
<body>

<div class="container">
    <div class="col-4">
        <p class="h2">Update new customer</p>
        <form th:action="@{/customer/update}" method="post" th:object="${customer}">
            <div class="form-group">
                <label for="customer_id">Customer Id</label>
                <input id="customer_id" type="text" class="form-control" th:field="*{customerId}" readonly>
            </div>
            <div class="form-group">
                <label for="customer_code">Customer code</label>
                <input id="customer_code" type="text" class="form-control" th:field="*{customerCode}" required>
                <div th:if="${#fields.hasErrors('customerCode')}" th:errors="*{customerCode}">Name Error</div>
            </div>
            <div class="form-group">
                <label>Customer type</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect02">Option</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect02" th:field="*{customerType}">
                        <option th:each="customerType: ${customerTypeList}"
                                th:value="${customerType.getCustomerTypeId()}"
                                th:text="${customerType.getCustomerTypeName()}">
                        </option>
                    </select>
                    <span style="color: red"
                          th:text="'Old selection is ' + ${customer.getCustomerType().getCustomerTypeName()}"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="customer_name">Customer name</label>
                <input id="customer_name" type="text" class="form-control" th:field="*{customerName}" required>
            </div>
            <div class="form-group">
                <label for="customer_birthdate">Customer birthdate</label>
                <input id="customer_birthdate" type="date" class="form-control" th:field="*{customerBirthDate}" required>
                <div th:if="${#fields.hasErrors('customerBirthDate')}" th:errors="*{customerBirthDate}">Name Error</div>
            </div>
            <div class="form-group">
                <label>Customer gender</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Option</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" th:field="*{customerGender}">
                        <option th:value="0">Male</option>
                        <option th:value="1">Female</option>
                        <option th:value="2">Other</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="customer_idCard">Customer Id card</label>
                <input id="customer_idCard" type="text" class="form-control" th:field="*{customerIdCard}" required>
                <div th:if="${#fields.hasErrors('customerIdCard')}" th:errors="*{customerIdCard}">Name Error</div>
            </div>
            <div class="form-group">
                <label for="customer_phone">Customer phone</label>
                <input id="customer_phone" type="text" class="form-control" th:field="*{customerPhone}" required>
                <div th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}">Name Error</div>
            </div>
            <div class="form-group">
                <label for="customer_email">Customer email</label>
                <input id="customer_email" type="text" class="form-control" th:field="*{customerEmail}" required>
                <div th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}">Name Error</div>
            </div>
            <div class="form-group">
                <label for="customer_address">Customer address</label>
                <input id="customer_address" type="text" class="form-control" th:field="*{customerAddress}" required>
                <div th:if="${#fields.hasErrors('customerAddress')}" th:errors="*{customerAddress}">Name Error</div>
            </div>
            <div>
                <input type="submit" value="Update" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

</body>
</html>