<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translate page</title>
    <link rel="stylesheet" href="bootstrap413/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div class="col-4">
        <form action="/search" method="post">
            <table id="table" class="table table-striped table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <td>English word</td>
                    <td><input type="text" name="englishWord" class="text-input"></td>
                    <td><button type="submit" value="search" class="button btn-primary">Search</button></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Translate to Vietnam </td>
                    <td><input class="text-input"></td>
                    <td></td>
                </tr>

                </tbody>
            </table>
        </form>
    </div>
</div>

<!--__+__+__+__+__+__+__+__+__+__+__+__+__-->
<!--Thu vien jQuery da nen phuc vu cho bootstrap.min.js&ndash;-->
<script src = "lib/jquery-3.5.1.min.js"></script>
<!--Thu vien popper da nen phuc vu cho bootstrap.min.js&ndash;-->
<script src = "lib/popper.min.js"></script>
<!--Thu vien popper da nen phuc vu cho bootstrap.min.js&ndash;-->
<script src = "js/bootstrap.min.js"></script>
</body>
</html>