<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
</head>
<body>

<div class="container">
    <div class="col-4">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a th:href="@{/blog}" class="btn btn-outline-primary">Back to list blog</a>

        </nav>
        <p class="h2">Create new blog</p>
        <form th:action="@{/blog/create}" method="post" th:object="${blog}">
            <div class="form-group">
                <label for="id">Blog Id</label>
                <input id="id" type="text" class="form-control" th:field="*{blogId}" readonly>
            </div>
            <div class="form-group">
                <label for="blogTitle">Blog title</label>
                <input id="blogTitle" type="text" class="form-control" th:field="*{blogTitle}" required>
            </div>
            <div class="form-group">
                <label for="blogContent">Blog content</label>
                <input id="blogContent" type="text" class="form-control" th:field="*{blogContent}" required>
            </div>
            <div class="form-group">
                <label for="dateCreate">Blog date created</label>
                <input id="dateCreate" type="text" class="form-control" th:field="*{blogDateCreate}" required>
            </div>
            <div class="form-group">
                <label>Category name</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect02">Option</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect02" th:field="*{category}">
                        <option th:each="category: ${categoryList}"
                                th:value="${category.getCategoryId()}"
                                th:text="${category.getCategoryName()}">
                        </option>
                    </select>
                </div>
            </div>
            <div>
                <input type="submit" value="Add" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

</body>
</html>