<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
<div class="col-4">
    <h1>Currency exchange</h1>
    <%--        Sua action = "/customer" lai--%>
    <form action="/exchange" method="post">
        <div class="form-group">
            <label>Amount</label>
            <input type="text" name="amount" class="form-control">
        </div>
        <div class="form-group">
            <label>Rate</label>
            <input type="text" name="rate" class="form-control">
        </div>
        <div>
            <input type="submit" value="Exchange" class="btn bg-primary">
        </div>
    </form>
</div>

<!--__+__+__+__+__+__+__+__+__+__+__+__+__-->
<!--Thu vien jQuery da nen phuc vu cho bootstrap.min.js-->
<script src = "lib/jquery-3.5.1.min.js"></script>
<!--Thu vien popper da nen phuc vu cho bootstrap.min.js-->
<script src = "lib/popper.min.js"></script>
<!--Thu vien popper da nen phuc vu cho bootstrap.min.js-->
<script src = "js/bootstrap.min.js"></script>
</body>
</html>