<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
</head>
<body>

<div class="container">
    <div class="notify">
        <div th:if="${statusmsg}">
            <span th:text="${statusmsg}"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <a th:href="@{/customerType/create}" class="btn btn-primary">Create new customer type</a>
        </div>
    </div>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">Customer type id</th>
            <th scope="col">Customer type name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customerType:${customerTypeList}">
            <td  scope="row" th:text="${customerType.getCustomerTypeId()}"></td>
            <td th:text="${customerType.getCustomerTypeName()}"></td>
            <td>
                <a th:href="@{/customerType/{id}/remove(id=${customerType.getCustomerTypeId()})}"
                   class="btn btn-primary" href="#" role="button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>