<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
</head>
<body>

<div class="container">
    <div class="col-4">
        <form th:action="@{/bill/borrow}" method="post" th:object="${book}">
            <div class="form-group">
                <label for="book_id">Book Id</label>
                <input id="book_id" type="text" class="form-control" th:field="*{id}" readonly>
            </div>
            <div class="form-group">
                <label for="book_title">Book title</label>
                <input id="book_title" type="text" class="form-control" th:field="*{title}" readonly>
            </div>
            <div class="form-group">
                <label for="book_quantity">Book quantity</label>
                <input id="book_quantity" type="text" class="form-control" th:field="*{quantity}" readonly>
            </div>
            <div>
                <input type="submit" value="Borrow" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

</body>
</html>

<!--            <div class="form-group">-->
<!--                <label for="borrow_codeId">Borrow code Id</label>-->
<!--                <input id="borrow_codeId" type="text" class="form-control" th:field="*{borrowBookCode.borrowId}"readonly>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="borrow_code">Borrow code</label>-->
<!--                <input id="borrow_code" type="text" class="form-control" th:field="*{borrowBookCode.borrowCode}"readonly>-->
<!--            </div>-->