<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
</head>
<body>

<div class="container">
    <div class="notify">
        <div th:if="${statusmsg}">
            <span th:text="${statusmsg}" style="color: darkblue"></span>
        </div>
    </div>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a th:href="@{/book/create}" class="btn btn-primary">Create new book</a>

        <form class="form-inline" th:action="@{/bill/return}" method="post">
            <input type="text" th:name="borrowCode" placeholder="input borrow code" class="form-control mr-sm-2" >
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Return book"/>
        </form>
    </nav>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">Book id</th>
            <th scope="col">Book title </th>
            <th scope="col">Book quantity</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book:${bookList}">
            <td  scope="row" th:text="${book.getId()}"></td>
            <td  scope="row" th:text="${book.getTitle()}"></td>
            <td  scope="row" th:text="${book.getQuantity()}"></td>
            <td>
                <a th:href="@{/book/{id}/borrow(id=${book.getId()})}"
                   class="btn btn-primary" href="#" role="button">Borrow</a>
                <a th:href="@{/book/{id}/return(id=${book.getId()})}"
                   class="btn btn-primary" href="#" role="button">Return</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>